.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-icon {
  margin-right: 10px;
  fill: #757575;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(14px, 500, 16px);
  color: var(--primary-text-color);
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--accent-color);
}

.mail-address,
.contact-number {
  display: flex;
  align-items: center;
  transition: color 250ms var(--project-timing);
}

.mail-address {
  margin-right: 50px;
  color: #757575;
}

.contact-number {
  @include font(14px, 500, 16px);
  letter-spacing: 0.02em;
  color: #757575;
}

.mail-address:hover .address-icon,
.mail-address:focus .address-icon {
  fill: var(--accent-color);
}

.contact-number:hover .address-icon,
.contact-number:focus .address-icon {
  fill: var(--accent-color);
}

.contact-number:hover,
.contact-number:focus,
.mail-address:hover,
.mail-address:focus {
  color: var(--accent-color);
}

.mail-active {
  color: var(--accent-color);
}
.mail-active .address-icon {
  fill: var(--accent-color);
}
